.font-style-italic{
        font-family: 'Miama';
        font-style: italic;
        font-weight: 400;
        src: local('Miama'), url('https://fonts.cdnfonts.com/css/miama-nueva');
}
.font-style{
        font-family: 'Miama';
        font-style: normal;
        font-weight: 300;
        src: local('Miama'), url('https://fonts.cdnfonts.com/s/302/Miama.woff') format('woff');
}
.inter-font-one{
        font-family: "Inter", sans-serif;
        font-style: italic;
        font-optical-sizing: 36px;
        font-weight: 800;
      }
.inter-font-two{
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-optical-sizing: 36px;
        font-weight: 800;
}
.color{
        background-color: #111111;
}
/* shared style */
.display-flex{
        display: flex;
} 
.text-color-one{
        color: rgba(255, 255, 255, 1);
} 
.text-color-two{
        color: rgba(255, 255, 255, 0.65);
} 
.btn-primary{
        padding: 16px 40px;
        border-radius: 30px;
        margin: 0px 10px;
        font-size: 15px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        background-color: #111111;
        border: 1px solid rgb(255, 255, 255);
}

/* header first section */
.nav-bar{
        background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
}
.fit{
        color: rgba(230, 83, 60, 1);
        font-weight: 800;
        font-size: 26px;
}
.header-title{
        justify-content: center;
}
.nav-item{
        justify-content: space-between;
        width: 1060px;
}
.nav-links{
        list-style: none;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        width: 350px;
        padding: 10px 0px ;
        justify-content: center;
        align-items: center;
        
}
.nav-link{
        text-decoration: none;
        margin-right:30px ;
        color: rgba(255, 255, 255, 1);
        /* color: rgba(255, 255, 255, 1); */
}
.nav-link-home{
        border: 0px solid black;
        padding: 10px 26px;
        border-radius: 20px ;
        color:rgba(255, 255, 255, 1);
        background-color: rgba(230, 83, 60, 1);
}
.menu-bar{
        visibility: hidden;
}
/* header second section */
.full-banner{
        justify-content: center;
}
.banner{
        width: 1100px;
        justify-content: space-between;
}
.get-body{
        
        width: 600px;
}
.get-body-text{
        color:rgba(255, 255, 255, 1) ;
        font-weight: 900;
        font-size: 58px;
        line-height: 135px;
}
.get-body-shape{
        font-size:  58px;
        font-weight: 400;
        
}
.get-body-p{
        color: rgba(255, 255, 255, 0.65);
        font-size: 20px;
        line-height: 30px;
}
.get-body-pic{
        width: 400px;
}
.btn{
        justify-content: center;
        margin-bottom: 10px;
}
.btn-primary-club{
        background-color:rgba(230, 83, 60, 1) ;
        padding: 16px 40px;
        border-radius: 30px;
        margin: 0px 10px;
        font-size: 15px;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        border: 0px solid black;
}
.card-01{
        border: 1px solid rgba(255, 255, 255, 0.1);
        background-color:rgba(48, 48, 48, 0.54);
        border-radius: 10px;
        width:116px;
        padding: 10px;
        text-align: center;
        position: relative;
        top: -450px; /* Adjusts the vertical position */
        left: 230px; 
}
.card-02{
        border: 1px solid rgba(255, 254, 254, 0.1);
        background-color:rgba(48, 48, 48, 0.54);
        border-radius: 10px;
        width:146px;
        padding: 10px;
        text-align: center;
        position: relative;
        top: -250px; /* Adjusts the vertical position */
        right: 30px;
}
.card-img1{
        display: flex;
        justify-content: center;
        align-items: center;
}
.card-h{
        font-size: 40px;
        font-weight: 900px;
        line-height: 20px;
        margin: 5px;
        color: rgb(255, 255, 255, 1);
}
.card-p{
        font-weight: 400;
        font-size: 13px;
        line-height: 10px;
        color: rgb(255, 255, 255, 1);
}