.font-style-italic{
        font-family: 'Miama';
        font-style: italic;
        font-weight: 400;
        src: local('Miama'), url('https://fonts.cdnfonts.com/css/miama-nueva');
}
.font-style{
        font-family: 'Miama';
        font-style: normal;
        font-weight: 300;
        src: local('Miama'), url('https://fonts.cdnfonts.com/s/302/Miama.woff') format('woff');
}
.inter-font-one{
        font-family: "Inter", sans-serif;
        font-style: italic;
        font-optical-sizing: 36px;
        font-weight: 800;
      }
.inter-font-two{
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-optical-sizing: 36px;
        font-weight: 800;
}
.color{
        background-color: #111111;
}
/* shared style */
.display-flex{
        display: flex;
} 
.text-color-one{
        color: rgba(255, 255, 255, 1);
} 
.text-color-two{
        color: rgba(255, 255, 255, 0.65);
} 
.btn-primary{
        padding: 16px 40px;
        border-radius: 30px;
        margin: 0px 10px;
        font-size: 15px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        background-color: #111111;
        border: 1px solid rgb(255, 255, 255);
}

/* header first section */
.nav-bar{
        background: linear-gradient(180deg, rgba(17, 17, 17, 0.8) 0%, rgba(3, 3, 3, 0.3) 100%);;
        height: 665px;

}
.fit{
        color: rgba(230, 83, 60, 1);
        font-weight: 800;
        font-size: 26px;
}
.header-title{
        justify-content: center;
}
.nav-item{
        justify-content: space-between;
        width: 1060px;
        
        
}
.nav-links{
        list-style: none;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        width: 350px;
        padding: 10px 0px ;
        justify-content: center;
        align-items: center;
        
}
.nav-link{
        text-decoration: none;
        margin-right:30px ;
        color: rgba(255, 255, 255, 1);
        /* color: rgba(255, 255, 255, 1); */
}
.nav-link-home{
        border: 0px solid black;
        padding: 10px 26px;
        border-radius: 20px ;
        color:rgba(255, 255, 255, 1);
        background-color: rgba(230, 83, 60, 1);
}
.menu-bar{
        visibility: hidden;
}
/* header second section */
.full-banner{
        justify-content: center;
}
.banner{
        width: 1100px;
        justify-content: space-between;
}
.get-body{
        
        width: 600px;
}
.get-body-text{
        color:rgba(255, 255, 255, 1) ;
        font-weight: 900;
        font-size: 58px;
        line-height: 90px;
}
.get-body-shape{
        font-size:  58px;
        font-weight: 400;
        
}
.get-body-p{
        color: white;
        font-size: 20px;
        line-height: 30px;
}
.get-body-pic{
        width: 400px;
}

.btn{
        justify-content: center;
        
}
.btn-primary-club{
        background-color:rgba(230, 83, 60, 1) ;
        padding: 16px 40px;
        border-radius: 30px;
        margin: 0px 10px;
        font-size: 15px;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        border: 0px solid black;
}
.card-01{
        border: 1px solid rgba(255, 255, 255, 0.1);
        background-color:rgba(48, 48, 48, 0.54);
        border-radius: 10px;
        width:116px;
        padding: 10px;
        text-align: center;
        position: relative;
        top: -450px; /* Adjusts the vertical position */
        left: 230px; 
}
.card-02{
        border: 1px solid rgba(255, 254, 254, 0.1);
        background-color:rgba(48, 48, 48, 0.54);
        border-radius: 10px;
        width:146px;
        padding: 10px;
        text-align: center;
        position: relative;
        top: -250px; /* Adjusts the vertical position */
        right: 70px;
}
.card-img1{
        display: flex;
        justify-content: center;
        align-items: center;
}
.card-h{
        font-size: 40px;
        font-weight: 900px;
        line-height: 20px;
        margin: 5px;
        color: rgb(255, 255, 255, 1);
}
.card-p{
        font-weight: 400;
        font-size: 13px;
        line-height: 10px;
        color: rgb(255, 255, 255, 1);
}
/* main */

.change-part{
        display: flex;
        justify-content: center;      
       
}
.change-text{
        width: 670px;
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: 80px;

}
.change-h1{
        font-size: 48px;
        font-weight: 900px;
        line-height: 20px;
        
}
.change-p{
        font-size: 15px;
        font-weight: 400px;
        line-height: 15px;
        
}
.change-last-part{
        display: flex;
        justify-content: center;
}
.change-img{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        width: 1040px;
        margin-top: 20px;
}
.box-1{
        line-height: 15px;
        width: 230px;
}
.box-1-pic{
        display: flex;
        justify-content: center;
}
.box-1-img{
        border-radius: 50%; 
       
}
.box-1-h{
        font-weight: 600;
        font-size: 18px;
        color: rgb(255, 255, 255, 1);
        text-align: center;
}
.box-1-p{
        font-weight: 400;
        font-size: 14px;
        color: rgb(255, 255, 255, 1);
        text-align: center;
}
.run-container{
        display: flex;
        justify-content: center;
        margin-top: 50px;
       
}
.run-part{
        width: 1050px;
        border-radius: 15px;
        background-color: rgba(34, 34, 34, 1);
        display: flex;
        justify-content: space-between;
        padding: 30px;
        
}
.run-text{
       width: 440px;
}
.run-h{
        font-size: 48px;
        font-weight: 900;
        line-height: 57px;
        color: rgb(255, 255, 255, 1);
}
.run-p{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: rgb(255, 255, 255, 1);
}
.run-img{
        width: 368px;
}
.home-workout-container{
        display: flex;
        justify-content: center;
        margin-top: 50px;
       
}
.home-workout-part{
        width: 1050px;
        border-radius: 15px;
        background-color: rgba(34, 34, 34, 1);
        display: flex;
        justify-content: space-between;
        padding: 30px;
        
}
.home-workout-text{
       width: 340px;
}
.home-workout-h{
        font-size: 28px;
        font-weight: 900;
        line-height: 57px;
        color: rgb(255, 255, 255, 1);
}
.home-workout-p{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: rgb(255, 255, 255, 1);
}
.home-workout-img{
        width: 368px;
        border-radius: 20px;
}
.change2-part{
        display: flex;
        justify-content: center;      
       
}
.change2-text{
        width: 670px;
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: 80px;

}
.change2-h1{
        font-size: 48px;
        font-weight: 900px;
        line-height: 40px;
        
}
.change2-p{
        font-size: 15px;
        font-weight: 400px;
        line-height: 15px;
        
}
.change3-part{
        display: flex;
        justify-content: center;      
       
}
.change3-text{
        width: 670px;
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: 80px;

}
.change3-h1{
        font-size: 48px;
        font-weight: 900px;
        line-height: 40px;
        
}
.change3-p{
        font-size: 15px;
        font-weight: 400px;
        line-height: 15px;
        
}
.team-container{
       display: flex;
       justify-content:  center;
}
.team-part{
        width: 1080px;
        border-radius: 15px;
        padding: 15px;
        background-color:rgba(34, 34, 34, 1) ;
        display: grid;
        grid-template-columns: repeat(3,1fr);
}
.team1-img{
        width: 320px;
        border-radius: 15px;
}
.team-box{
        padding: 5px;
        width: 321px;
}
.team-name{
        position: relative;
        top: -70px;
        left: 10px;
}
.team-name-h{
        font-size: 20px;
        font-weight: 900;
        line-height: 10px;
        color: rgb(255, 255, 255, 1);
}
.team-name-p{
        font-size: 14px;
        font-weight: 400;
        line-height: 10px;
        color: rgb(255, 255, 255, 1);
}
.change4-part{
        display: flex;
        justify-content: center;      
       margin-bottom:30px ;
}
.change4-text{
        width: 670px;
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: 80px;

}
.change4-h1{
        font-size: 48px;
        font-weight: 900px;
        line-height: 40px;
        
}
.change4-p{
        font-size: 15px;
        font-weight: 400px;
        line-height: 15px;
        
}
.bmi-container{
        border-top: 1px solid rgb(255, 255, 255, 1);
        border-bottom: 1px solid rgb(255, 255, 255, 1);
        background-color:rgba(34, 34, 34, 1)
        
}


.bmi-chart{
        width: 450px;
        
}
/* table styles */
table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 310px;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #fdfafa;
 }
 .bmi{
        display: flex;
        justify-content: space-evenly;
        padding: 40px;
 }
 .bmi-part-one{
        width: 450px;
        
 }
 .cal-top-h{
        font-family: Inter;
        font-size: 28px;
        font-weight: 900;
        line-height: 33.6px;
        color:rgb(255, 255, 255, 1);
 }
  .cal-top-p{
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color:rgb(255, 255, 255, 1);
  }
  .bmi-part-two{
        width: 650px;
       
  }
  .input-one{
        width: 280px;
        padding: 10px;
        border-radius: 8px;
        margin: 5px;
  }
  .input-two{
        width: 280px;
        padding: 10px;
        border-radius: 8px;
        margin: 5px;
  }
  .input-three{
        width: 600px;
        padding: 10px;
        border-radius: 8px;
        margin: 5px;
  }
.cal-btn{
        margin-top: 30px;
}

/* footer partl */
.footer-part{
        padding: 15px;
        padding-top: 50px;
        display: flex;
        justify-content: space-evenly;

}
.footer-box-1{
       
        width: 450px;
}
.footer-box-2{
       
        width: 380px;
}
.footer-box-3{
       
        width: 380px;
}
.footer-fit{
        font-size: 60px;
        font-style: italic;
        font-weight: 800;
        line-height: 54px;
        color:rgba(230, 83, 60, 1);
        ;

}
.footer-p{
        font-size: 18px;
        font-weight: 400;
        line-height: 27.6px;
        color:rgba(255, 255, 255, 0.5);
        ;

}
hr{
        width: 1059.5px;
        border: 2px 0px 0px 0px;
        border: 2px solid rgba(255, 255, 255, 0.1)
        
}
.copyright{
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;     
}

/* resposive */
@media (max-width: 576px) {
        /* navbar resposive */
        .nav-bar {
            height: auto;
            padding: 20px;
        }
        .fit {
            font-size: 20px;
        }
        .nav-item {
            
            align-items: center;
            width: 100%;
        }
        .nav-links {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            visibility: hidden;
        }
        .nav-link {
            margin: 10px 0;
            text-align: center;
            
        }
        .nav-link-home {
            padding: 8px 20px;
        }
        .menu-bar {
            visibility: visible;
            display: block;
            text-align: right;
            padding: 10px;
        }
        /* banner section resposive */
        .banner {
                width: 100%;
                flex-direction: column;
                align-items: center;
            }
            .get-body {
                width: 100%;
                padding: 0 20px;
            }
            .get-body-text {
                font-size: 32px;
                line-height: 45px;
                text-align: center;
            }
            .get-body-shape {
                font-size: 32px;
                text-align: center;
            }
            .get-body-p {
                font-size: 16px;
                line-height: 24px;
                text-align: center;
            }
            .get-body-pic {
                width: 100%;
                max-width: 300px;
                margin: 20px auto;
            }
            .btn-primary-club {
                padding: 12px 30px;
                margin: 10px 0;
                font-size: 14px;
            }
        .card-01{
                left: 180px;
        }
        .card-02{
                right: 30px;
        }
            .card-h {
                font-size: 24px;
        }
            .card-p {
                font-size: 12px;
        }

        /* change part */
        .change-text {
                width: 100%;
                padding: 0 20px;
                margin-top: 40px;
            }
            .change-h1 {
                font-size: 32px;
                line-height: 40px;
            }
            .change-p {
                font-size: 14px;
                line-height: 20px;
                
            }
            .change-img {
                grid-template-columns: repeat(1, 1fr);
                width: 100%;
                margin-top: 20px;
                padding: 0 10px;
            }
            .box-1 {
                width: 100%;
                margin-bottom: 20px;
            }
            .box-1-img {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
            .box-1-h {
                font-size: 16px;
            }
            .box-1-p {
                font-size: 12px;
            }
        /* run part responsive */
        .run-container {
                margin-top: 30px;
            }
            .run-part {
                width: 80%;
                flex-direction: column;
                align-items: center;
                padding: 20px;
            }
            .run-text {
                width: 100%;
                padding: 0 20px;
                text-align: center;
            }
            .run-h {
                font-size: 32px;
                line-height: 40px;
            }
            .run-p {
                font-size: 13px;
                line-height: 20px;
            }
            .run-img {
                width: 240px;
                margin-top: 10px
                             
        }
        /* work out home part */
        .home-workout-container {
                margin-top: 30px;
        }
            .home-workout-part {
                width: 80%;
                flex-direction: column;
                align-items: center;
                padding: 20px;
        }
            .home-workout-text {
                width: 100%;
                padding: 0 20px;
        }
            .home-workout-h {
                font-size: 24px;
                line-height: 32px;
        }
            .home-workout-p {
                font-size: 13px;
                line-height: 20px;
        }
            .home-workout-img {
                width: 100%;
                max-width: 300px;
                margin-top: 20px;
        }
        /* team part  */

        .team-part {
                width: 80%;
                grid-template-columns: 1fr;
                padding: 10px;
            }
            .team1-img {
                width: 100%;
                max-width: 280px;
                margin: 0 auto;
            }
            .team-box {
                width: 100%;
                margin-bottom: 20px;
            }
            .team-name-h {
                font-size: 18px;
                line-height: 24px;
            }
            .team-name-p {
                font-size: 12px;
                line-height: 16px;
        }
        /* bmi part */
        .bmi {
                flex-direction: column;
                align-items: center;
                padding: 20px;
            }
            .bmi-part-one, .bmi-part-two {
                width: 100%;
                margin-bottom: 20px;
            }
            .bmi-chart {
                width: 100%;
                max-width: 320px;
                margin: 0 auto;
            }
            table {
                width: 100%;
                max-width: 320px;
            }
            .cal-top-h {
                font-size: 22px;
                line-height: 28px;
            }
            .cal-top-p {
                font-size: 13px;
                line-height: 20px;
            }
            .input-one {
                width: 38%;
                
            }
            .input-two{
                width: 38%;
                
            }
            .input-three {
                width: 88%;
                max-width: 300px;
            }
            .cal-btn {
                margin-top: 20px;
            }
        /* footer part */
        .footer-part {
                flex-direction: column;
                align-items: center;
                padding: 20px;
            }
            .footer-box-1,
            .footer-box-2,
            .footer-box-3 {
                width: 100%;
                max-width: 350px;
                margin-bottom: 20px;
                
            }
            .footer-fit {
                font-size: 36px;
                line-height: 40px;
            }
            .footer-p {
                font-size: 16px;
                line-height: 24px;
            }
            hr {
                width: 100%;
            }
            .copyright {
                font-size: 14px;
                line-height: 20px;
            }
}